/*Maintained by leoandreotti -> github.com/leoandreotti*/
@import url('https://ff.static.1001fonts.net/r/i/ringbearer.medium.ttf');

body {
    font-family: 'ringbearer', sans-serif !important;
    text-rendering: optimizeLegibility important;
    word-spacing: -1px;
    -webkit-font-smoothing: auto;
}

.supports_custom_scrollbar #msg_input.texty_legacy .ql-editor {
    font-family: 'ringbearer', sans-serif !important;
}

.p-threads_footer__input--legacy .p-message_input_field .ql-editor {
    font-family: 'ringbearer', sans-serif !important;
}
